<!--
	------------------------------------------------------------

	Menu is made by Erik Terwan, 24th of November 2015, MIT License,
	(https://codepen.io/erikterwan/pen/EVzeRP)

	------------------------------------------------------------
	-->

<!-- Scripts -->
<script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-messaging.js"></script>
<script src="javascripts/notifications.js"></script>
<script src="javascripts/timer.js"></script>
<script src="javascripts/styling.js"></script>
<script src="javascripts/sidebar.js"></script>
<!-- <script src="scripts/cacheSaver.js"></script> -->
</body>

</html>