<!-- Scripts -->
<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase-messaging.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase-database.js"></script>
<script src="javascripts/firebase-sw.js"></script>
<script src="javascripts/alert.js"></script>
<script src="javascripts/notifications.js"></script>
<script src="javascripts/timer.js"></script>
<script src="javascripts/styling.js"></script>
<script src="javascripts/sidebar.js"></script>
<script src="javascripts/firebase-database.js"></script>
<!-- <script src="javascripts/cacheSaver.js"></script> -->
</body>
</html>