<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox" />
        <span class="burger"></span>
        <span class="burger"></span>
        <span class="burger"></span>
        <ul id="menu">
            <h4 class="points"><span id="points">0</span> points</h4>
            <a href="/">
                <li>Timer</li>
            </a>
            <a href="/challenges">
                <li>Challenges</li>
            </a>
            <a href="/usePoints">
                <li>Use points</li>
            </a>
            <a href="/videoResources">
                <li>Video resources</li>
            </a>
            <a href="/extraIdeas">
                <li>Extra ideas</li>
            </a>
        </ul>
    </div>
</nav>