<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox" />
        <span class="burger"></span>
        <span class="burger"></span>
        <span class="burger"></span>
        <ul id="menu">
            <h4 class="points"><span id="points">0</span> points</h4>
            <a href="index.ejs">
                <li>Timer</li>
            </a>
            <a href="challenges.ejs">
                <li>Challenges</li>
            </a>
            <a href="usePoints.ejs">
                <li>Use points</li>
            </a>
            <a href="videoResources.ejs">
                <li>Video resources</li>
            </a>
            <a href="extraIdeas.ejs">
                <li>Extra ideas</li>
            </a>
        </ul>
    </div>
</nav>