<% include partials/header %>
<% include partials/menu %>

     <!--------------- Sections --------------->

     <section class="main">

          <div class="leftSide">
               <h1>Challenges</h1>

               <ul class="challenges">
                    <li class="challengeCheckbox">
                         <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="10">
                         <label for="styled-checkbox-1">Challenge</label>
                    </li>

                    <li class="challengeCheckbox">
                         <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="50">
                         <label for="styled-checkbox-2">Challenge</label>
                    </li>

                    <li class="challengeCheckbox">
                         <input class="styled-checkbox" id="styled-checkbox-3" type="checkbox" value="10">
                         <label for="styled-checkbox-3">Challenge</label>
                    </li>

                    <li class="challengeCheckbox">
                         <input class="styled-checkbox" id="styled-checkbox-4" type="checkbox" value="10">
                         <label for="styled-checkbox-4">Challenge</label>
                    </li>

                    <li class="challengeCheckbox">
                         <input class="styled-checkbox" id="styled-checkbox-5" type="checkbox" value="10">
                         <label for="styled-checkbox-5">Challenge</label>
                    </li>

                    <li class="challengeCheckbox">
                         <input class="styled-checkbox" id="styled-checkbox-6" type="checkbox" value="10">
                         <label for="styled-checkbox-6">Challenge</label>
                    </li>

                    <li class="challengeCheckbox">
                         <input class="styled-checkbox" id="styled-checkbox-7" type="checkbox" value="10">
                         <label for="styled-checkbox-7">Challenge</label>
                    </li>

                    <li class="challengeCheckbox">
                         <input class="styled-checkbox" id="styled-checkbox-8" type="checkbox" value="10">
                         <label for="styled-checkbox-8">Challenge</label>
                    </li>

                    <li class="challengeCheckbox">
                         <input class="styled-checkbox" id="styled-checkbox-9" type="checkbox" value="10">
                         <label for="styled-checkbox-9">Challenge</label>
                    </li>

                    <li class="challengeCheckbox">
                         <input class="styled-checkbox" id="styled-checkbox-10" type="checkbox" value="10">
                         <label for="styled-checkbox-10">Challenge</label>
                    </li>

                    <li class="challengeCheckbox">
                         <input class="styled-checkbox" id="styled-checkbox-11" type="checkbox" value="10">
                         <label for="styled-checkbox-11">Challenge</label>
                    </li>

                    <li class="challengeCheckbox">
                         <input class="styled-checkbox" id="styled-checkbox-12" type="checkbox" value="10">
                         <label for="styled-checkbox-12">Challenge</label>
                    </li>

                    <li class="challengeCheckbox">
                         <input class="styled-checkbox" id="styled-checkbox-13" type="checkbox" value="10">
                         <label for="styled-checkbox-13">Challenge</label>
                    </li>

                    <li class="challengeCheckbox">
                         <input class="styled-checkbox" id="styled-checkbox-14" type="checkbox" value="10">
                         <label for="styled-checkbox-14">Challenge</label>
                    </li>

                    <li class="challengeCheckbox">
                         <input class="styled-checkbox" id="styled-checkbox-15" type="checkbox" value="10">
                         <label for="styled-checkbox-15">Challenge</label>
                    </li>

                    <li class="challengeCheckbox">
                         <input class="styled-checkbox" id="styled-checkbox-checked" type="checkbox" value="20" checked>
                         <label for="styled-checkbox-checked">Challenge checked</label>
                    </li>

                    <li class="challengeCheckbox">
                         <input class="styled-checkbox" id="styled-checkbox-disabled" type="checkbox" value="30" disabled>
                         <label for="styled-checkbox-disabled">Challenge completed</label>
                    </li>
               </ul>
          </div>

          <div id="sidebar" class="sidebar">
               <h5 id="sidebarTimer">
                    <span id="date"></span><span id="date-hour"></span>
                    <br>
               </h5>
               <h6 id="sidebarTimer2">remaining</h6>
          </div>


     </section>

<% include partials/footer %>
