<% include partials/header %>
<% include partials/menu %>

     <!--------------- Sections --------------->

     <section class="main">

          <div class="leftSide">
               <h1>Extra ideas and useful links</h1>
               <div class="extrasColumn1">
                    <ul>
                         <li class="ideaText">Idea</li>
                         <li class="ideaText">Idea</li>
                         <li class="ideaText">Idea</li>
                         <li class="ideaText">Idea</li>
                         <li class="ideaText">Idea</li>
                    </ul>
               </div>

               <div class="extrasColumn2">
                    <ul>
                         <li class="ideaText"><a href="#" class="ideaLink">Idea</a></li>
                         <li class="ideaText"><a href="#" class="ideaLink">Idea</a></li>
                         <li class="ideaText"><a href="#" class="ideaLink">Idea</a></li>
                         <li class="ideaText"><a href="#" class="ideaLink">Idea</a></li>
                         <li class="ideaText"><a href="#" class="ideaLink">Idea</a></li>
                    </ul>
               </div>
          </div>

          <% include partials/sidebar %>


     </section>

<% include partials/footer %>
