<% include partials/header %>
<% include partials/menu %>

     <!--------------- Sections --------------->

     <section class="main">

          <div class="leftSide">

          </div>

          <% include partials/sidebar %>


     </section>

<% include partials/footer %>
