<% include partials/header %>
<% include partials/menu %>

     <!--------------- Sections --------------->

     <section class="main">

          <div class="leftSide">

          </div>

          <div id="sidebar" class="sidebar">
               <h5 id="sidebarTimer">
                    <span id="date"></span><span id="date-hour"></span>
                    <br>
               </h5>
               <h6 id="sidebarTimer2">remaining</h6>
          </div>


     </section>

<% include partials/footer %>
