<% include partials/header %>
<% include partials/menu %>

     <!--------------- Sections --------------->

     <section class="main">

          <div class="leftSide">
               <div class="linksColumn">
                    <a href="#" class="videoLinks">Website</a>
                    <a href="#" class="videoLinks">Website</a>
               </div>

               <div class="linksColumn">
                    <a href="#" class="videoLinks">Website</a>
                    <a href="#" class="videoLinks">Website</a>
                    <a href="#" class="videoLinks">Website</a>
               </div>

               <div class="linksColumn">
                    <a href="#" class="videoLinks">Website</a>
                    <a href="#" class="videoLinks">Website</a>
                    <a href="#" class="videoLinks">Website</a>
                    <a href="#" class="videoLinks">Website</a>
               </div>

               <div class="linksColumn">
                    <a href="#" class="videoLinks">Website</a>
                    <a href="#" class="videoLinks">Website</a>
                    <a href="#" class="videoLinks">Website</a>
                    <a href="#" class="videoLinks">Website</a>
                    <a href="#" class="videoLinks">Website</a>
               </div>
          </div>

          <% include partials/sidebar %>

     </section>


<% include partials/footer %>